<div class="nav-collapse">
  <ul class="nav">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#apis"> APIs <b class="caret"></b> </a>
      <ul class="dropdown-menu">
        <!-- <li><a href="#">Google Adwords</a></li> -->
        <li><a href="GoogleAnalytics.html">Google Analytics</a></li>
        <li><a href="Klout.html">Klout</a></li>
        <li><a href="Majestic.html">Majestic</a></li>
        <li><a href="Raven.html">Raven</a></li>
        <li><a href="Seomoz.html">SEOmoz</a></li>
        <li><a href="Twitter.html">Twitter</a></li>
      </ul>
    </li>

    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#Architecture"> Other <b class="caret"></b> </a>
      <ul class="dropdown-menu">
        <li><a href="GoogleScraper.html">Google Scraper</a></li>
        <li><a href="OnPage.html">On-page Analysis</a></li>
        <li><a href="Redirection.html">Redirection</a></li>
        <li><a href="Utils.html">Utilities</a></li>
        <li><a href="ArrayTransform.html">Arrays and cells</a></li>
        <li><a href="Hashes.html">Hash Calculations</a></li>
      </ul>
    </li>

  </ul>
</div><!--/.nav-collapse -->
